/*------Top Wrapper------*/
.container{
margin: 0px auto;
}

/*------Header------*/
.header{
background: url(/images/header.png) no-repeat;
height: 120px;
padding-left: 40px; 
padding-top: 30px;
margin-top: 10px;
margin-bottom: -30px;
}

/*------Navigation------*/
.main-navi{
background: url(/images/navi.png);
text-align: center;

}

ul#Navigation {
    margin: 0; padding: 0.8em;
    text-align: center;
}
  
 ul#Navigation li {
    font-size: 15px;
    list-style: none;
    display: inline;
    margin: 0.4em; padding: 0;
  }
ul#Navigation a{
text-decoration: none;
}

ul#Navigation a:hover {
    color: white; 
}

  /*------Sub Navigation------*/
.sub-navi{
padding-left: 10px;
margin-right: -10px;
}

/*------Main Content------*/
.main{
background: url(/images/main.png);
min-height: 400px;
}

/*------Footer------*/
.footer {
	padding-left: 40px;
	margin-right: -40px; 
	height:	50px;
	background: url(/images/footer.png) no-repeat;
}

.zentrieren{
    border: 2px solid black;
	text-align: center;
	margin-top: 50px;
	padding: 10px;
	float: left;
	margin-left: 350px ;
}
